*/migrations/*
*/__pycache__/*
*__pycache__*
*__init__*
*/static/*
static/*
*/__init__.py
!blogalessionardineu/static/scss/
!blogalessionardineu/static/js/
!static/scss
!static/js

blogalessionardineu/static/scss/themes/
static/scss/themes/theme.scss
!blogalessionardineu/static/css/cookieconsent/*
!static/css/cookieconsent/*
media/images/*
!media/original_images/*
media/documents/*

config/backup.sh
config/sync.sh
config/update.sh
config/git.sh
backup/*

install.sh
update.sh
manage.py
!config/manage.py
!blogalessionardineu/manage.py
Dockerfile
db.sqlite3
error.log
warning.log
debug.log
.dockerignore
.secret
.secret-test
.env


